*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    background-color: rgb(160, 215, 237);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 70vw 15vw;
}

header, nav, article, footer {
    font-size: 2rem;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: rgb(134, 134, 243);
    grid-column: span 3;
}
nav{
    background-color: lightskyblue;
    grid-column: span 1;
}
article{
    background-color: aquamarine;
    grid-column: span 2;
}
footer{
    background-color: violet;
    grid-column: span 3;
}